<label for="server">Server Name: </label>
<!--<input id="server" class="form-control" (input)="onUpdateServerName($event)" />-->
<input id="server" class="form-control" [(ngModel)]="serverName" />

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
  Add Server
</button>
<!--<p>{{ allowNewServer }}</p>-->
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{ serverCreateStatus }}</p>-->
<!--<p> {{ 'Server Name: '+ serverName }}</p>-->
<!--<app-server></app-server>-->
<!--<app-server></app-server>-->
<p *ngIf="isServerCreated">Server was created!. The server name is {{ serverName }}</p>
